# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=u524585165_lifecare
DB_USER=u524585165_lifecare
DB_PASSWORD="V4b>&7Z,Kn$?f!_"
DB_POOL_SIZE=10

# JWT
JWT_SECRET=e3f4bb4d57b0f50e72d568da8f3242b77baaeef70a43571d2256db67ce61adb2
JWT_ACCESS_EXPIRY_MINUTES=15
JWT_REFRESH_EXPIRY_DAYS=30

# Server
SERVER_PORT=8080
APP_ENV=production
